spring:
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true
      retry:
        useRandomPolicy: true
        max-interval: 6000
      discovery:
        enabled: true
        serviceId: config-server
  datasource:
    url: jdbc:postgresql://localhost:5432/serizawa
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
server:
  port: 8080